
.box
{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    opacity: 0.9;
    border-radius: 40px;

}
.box:hover
{
    box-shadow: 0 0 10px #2c3e50,0 0 40px #2c3e50;

}
.dem
{
    color: white;
    position: relative;
    cursor: pointer;
}
.dem::after
{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background: #33FF00;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.dem:hover::after
{
    width: 100%;
    /* background-size: 100% 3px;
    transition: background-size 300ms ease; */
}
.box input[type="text"], .box input[type="password"],.box input[type="email"]
{
    border: 2px solid #0062FF;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px; 
    outline: none;
    color: white;
    transition: 0.25s;
}
.box input[type="text"]:hover , .box input[type="password"]:hover, .box input[type="email"]:hover
{
    width: 280px;
    border-color: #33FF00;
}
.box input[type="text"]:focus , .box input[type="password"]:focus, .box input[type="email"]:focus
{
    width: 280px;
    border-color: #33FF00;
}
.box input[type="submit"]
{
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #3498db;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
    padding: 10px 40px; 
    outline: none;
    background: #33FF00;
    color: white;
    border-color: #33FF00;
    text-decoration: none;
    transition: 0.25s;
}
.box input[type="submit"]:hover
{
    background: #33FF00;
    color: white;
    box-shadow: 0 0 10px #33FF00,0 0 40px #33FF00;
}
a
{
    text-decoration: none;
}