body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/3.jpg");
  background-position: center;
  background-size: cover;
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  opacity: 0.9;
  border-radius: 40px;
}
.box:hover {
  box-shadow: 0 0 10px #2c3e50, 0 0 40px #2c3e50;
}
.dem {
  color: white;
  position: relative;
  cursor: pointer;
}
.dem::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background: #00ff00;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.dem:hover::after {
  width: 100%;
}
.box input[type="text"],
.box input[type="password"] {
  border: 2px solid #0062ff;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border-radius: 20px;
  padding: 10px 10px;
  outline: none;
  color: white;
  transition: 0.25s;
}
.box input[type="text"]:hover,
.box input[type="password"]:hover {
  width: 280px;
  border-color: #00ff00;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #00ff00;
}
.box input[type="submit"] {
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #3498db;
  display: block;
  margin: 20px auto;
  text-align: center;
  border-radius: 20px;
  padding: 10px 40px;
  outline: none;
  background: #00ff00;
  color: white;
  border-color: #00ff00;
  text-decoration: none;
  transition: 0.25s;
}
.box input[type="submit"]:hover {
  background: #00ff00;
  color: white;
  box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff00;
}
a {
  text-decoration: none;
}
